body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }

  .grid-cell {
      padding:0;
      text-align: right;  
  }

  span {
    border-top: 1px dashed #000000;  
    padding-bottom: 10px;
      padding-right: 10px;
      margin-top: 5px;
    
  }

  #main-header {
    font-family: Century;
    padding: 1rem 2rem;
  }

  .lead {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  #currentDay {
    font-weight: bold;
  }

  ul {
    display: inline-block;
    
  }

  #past {
    color: #7a7777;
    border: none;
    font-size: 20px;
    font-weight: bold;
  }

  #present {
    color: #d8827e;
    border: none;
    font-size: 20px;
    font-weight: bold;
  }

  #future {
    color: #77dd77;
    border: none;
    font-size: 20px;
    font-weight: bold;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding:10px;
    width: 100%;
    height: 98%;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

  .container .day {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 1em;
  }

  .key {
    text-align: center;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    padding: 0;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    text-align: right;
    margin-top: 5px;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ec938e;
    color: #000000;
  }
  
  .future {
    background-color: #acebac;
    color: #000000;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    width: 100%;
    height: 100%;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  